@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Questrial&display=swap');


.abtHero-otrBx {
    background-color:#4D16B8; 
    color:white; 
    font-family: 'Questrial', sans-serif;
}
.abtHero-r1 {
    display:flex; 
}
.abtHero-col {
    flex:1; 
}
.abtHero-img {
    width:100%; 
}
.abtHero-col1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.abtHero-col1 h1{
    font-size:40px;
    margin-bottom:0px; 
    font-weight:400;
}
.abtHero-col1 p{
    font-size:22px; 
    margin-bottom:0px; 
    margin-right:80px; 
}
.abtHero-inrBx {
    padding:0px 80px; 
}