.abtHero-otrBx {
    background-color:#4D16B8; 
    color:white; 
    min-height: 580px;
}
.abtHero-r1 {
    display:flex; 
}
.abtHero-col {
    flex:1; 
}
.abtHero-img {
    width:100%; 
    max-width:360px; 
}
.abtHero-col1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.abtHero-col1 h1{
    font-size:40px;
    margin-bottom:0px; 
    font-weight:400;
}
.abtHero-col1 p{
    font-size:22px; 
    margin-bottom:0px; 
    margin-right:80px; 
}
.abtHero-inrBx {
    padding:0px 80px; 
}