.heroBnrInrBx {
    min-height: 580px;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction:column; 
    justify-content: center;
    color: white;
    padding:20px 80px; 
}
.heroHeading {  
    font-size: 42px;
    margin-bottom: 12px;
}
.heroDesc {
    margin-bottom: 40px;
    font-size:20px; 
    line-height:36px; 
}
.heroBtnLink {
    display: block;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.heroBtn {
    padding: 0px;
    background: #FF8C38;
    max-width:400px;
    border-radius:6px;
    border:none;  
}
.moreIntroWrap {
    padding:40px 20px;    
}
.homeTagline {
    font-size:28px; 
    color:rgb(77, 77, 77); 
    opacity: 0.8; 
    text-align: center; 
}
.homeRdMrAbtUs {
    text-align: center;
}
.moreIntroWrap a {
    text-decoration: none;    
}
.moreIntroWrap a:hover {    
    color:rgb(0, 0, 0); 
}    
@media(max-width:520px) {
    .heroBtn {
        margin: 0 auto;
        width: 320px;
    }
    .heroBnrInrBx {
        text-align: center;
    }
}